* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(../images/logo.png);
    background-attachment: fixed;
}

body {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-bottom: 2px ridge goldenrod;
    display: flex;
    align-items: center; 
}

header h2 {
    color: whitesmoke;
    font-size: 300%;
    text-shadow: 1px 1px 1px white, -1px -1px 1px whitesmoke;
}

header img {
    max-width: 300px;
    padding: 1px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    max-width: 100%;
    border: 2px ridge goldenrod;
}

#cornerBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 1em 2em;
    background-color: white;
    border: 2px solid black; 
    border-radius: 10px;
    color: black;
    font-size: 120%;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#cornerBtn:hover {
    background-color: black;
    color: white;
    border: 2px solid black; 
}


@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .column img {
        max-width: 100%;
    }

    header {
        flex-direction: column;
    }
}